.error {
    background-color: #d32f2f !important;
}

.icon {
     font-size: 20;
}

.icon-variant {
    opacity: 0.9;
    margin-right: 8px;
}
        
.message {
    display: flex;
    align-items: center;
}
        
.position {
    margin-top: 70px;
}